.shoppingStyle {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 80%;
  margin: 50px auto 5px;
  gap: 10px;
}

.product-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 200px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bodysite {
  background-color: pink;
}

.button-handle,
.button-card {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: blue;
  color: white;
  border-radius: 15px;
  width: 100px;
  height: 40px;
}

.sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.cart-container {
  width: 60%;
  margin: 40px auto;
  background: pink;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}
.cart-item {
  padding: 12px 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 18px;
}
