.shoppingStyle {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 80%;
  margin: 50px auto 5px;
  gap: 10px;
}

.product-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 200px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bodysite {
  background-color: pink;
}

.button-handle {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: blue;
  color: white;
  border-radius: 15px;
  width: 100px;
}

.sorting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
